<a href="https://colab.research.google.com/github/sp1999/SHALA2020/blob/master/Assignment_2_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Assignment - 2: Basic Data Understanding**

---

This assignment will get you familiarized with Python libraries and  functions required for data visualization.

---
## Part 1 - Loading data 
---

###Import the following libraries:  

* ```numpy``` with an alias name ```np```, 
* ```pandas``` with an alias name ```pd```, 
* ```matplotlib.pyplot``` with an alias name ```plt```, and 
* ```seaborn``` with an alias name ```sns```.

In [0]:
# Load the four libraries with their aliases 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Using the files ```train.csv``` and ```moviesData.csv```,  peform the following:

* Load these file as ```pandas``` dataframes and store it in variables named ```df``` and ```movies``` respectively. 
* Print the first ten rows of ```df```.

In [0]:
# Load the file as a dataframe 
df = pd.read_csv('/content/drive/My Drive/SHALA 2020 for Instructors and Organizers/Teaching/Module - Data Science/DS 2 Basic_Data_Understanding/train.csv')
movies = pd.read_csv('/content/drive/My Drive/SHALA 2020 for Instructors and Organizers/Teaching/Module - Data Science/DS 2 Basic_Data_Understanding/moviesData.csv')

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Print the first ten rows of df
df.head(10)

   Age  Attrition  ... YearsWithCurrManager  ID
0   41          1  ...                    5   0
1   49          0  ...                    7   1
2   37          1  ...                    0   2
3   33          0  ...                    0   3
4   27          0  ...                    2   4
5   32          0  ...                    6   5
6   59          0  ...                    0   6
7   30          0  ...                    0   7
8   38          0  ...                    8   8
9   36          0  ...                    7   9

[10 rows x 34 columns]

### Using the dataframe ```df```, perform the following: 

* Print the first five rows of the column ```MonthlyRate```. 
* Find out the details of the column ```MonthlyRate``` like mean, maximum value, minimum value, etc.

In [0]:
# Print the first five rows of MonthlyRate
df['MonthlyRate'].head(5)

0    19479
1    24907
2     2396
3    23159
4    16632
Name: MonthlyRate, dtype: int64

In [0]:
# Find the details of MonthlyRate 
df['MonthlyRate'].describe()

count     1028.000000
mean     14243.531128
std       7048.768076
min       2094.000000
25%       8259.750000
50%      14074.500000
75%      20342.250000
max      26999.000000
Name: MonthlyRate, dtype: float64

---
## Part 2 - Cleaning and manipulating data 
---

### Using the dataframe ```df```, peform the following:

* Check whether there are any missing values in ```df```. 
* If yes, drop those values and print the size of ```df``` after dropping these.

In [0]:
# Check for missing values 
df.isnull().sum()

# Drop the missing values 
df = df.dropna()

# Print the size of df after dropping 
df.shape

(1028, 34)

### Using the dataframe ```df```, peform the following:

* Add another column named ```MonthRateNew``` in ```df``` by subtracting the mean from ```MonthlyRate``` and dividing it by standard deviation.

In [0]:
# Add a column named MonthRateNew 
df['MonthRateNew'] = (df['MonthlyRate']-df['MonthlyRate'].mean())/df['MonthlyRate'].std()

### Using the dataframe ```movies```, perform the following: 

* Check whether there are any missing values in ```movies```. 
* Find out the number of observations/rows having any of their features/columns missing. 
* Drop the missing values and print the size of ```movies``` after dropping these. 
* Instead of dropping the missing values, replace the missing values by their mean (or some suitable value).

In [0]:
# Check for missing values 
movies.isna().sum()

# Drop the missing values 
movies1 = movies.dropna()
movies1.shape

# Replace the missing values
movies2 = movies.fillna(movies.mean())

# You can use SimpleImputer of sklearn for this

     Unnamed: 0  ...               actor5
0             1  ...  Joseph Julian Soria
1             2  ...       Genevieve Mooy
2             3  ...          Bob Balaban
3             4  ...         Alec McCowen
4             5  ...       Richard Glover
..          ...  ...                  ...
595         596  ...          Jack Bailey
596         597  ...          Rachel True
597         598  ...       Randy McDowell
598         599  ...          Ian McNeice
599         600  ...       Adam G. Sevani

[572 rows x 31 columns]

---
## Part 3 - Visualizing data 
---

### Visualize the ```df``` by drawing the following plots:

* Plot a histogram of ```Age``` and find the range in which most people are there. 
* Modify the histogram of ```Age``` by adding 30 bins. 
* Draw a scatter plot between ```Age``` and ```Attrition``` and suitable labels to the axes. Find out whether people more than 50 years are more likely to leave the company. (```Attrition``` = 1 means people have left the company).

In [0]:
# Plot and modify the histogram of Age


# Draw a scatter plot between Age and Attrition

### Visualize the ```df``` by following the steps given below:

* Get a series containing counts of unique values of ```Attrition```.
* Draw a countplot for ```Attrition``` using ```sns.countplot()```.

In [0]:
# Get a series of counts of values of Attrition


# Draw a countplot for Attrition 
# You may use countplot of seaborn for this

### Visualize the ```df``` by following the steps given below:

* Draw a cross tabulation of ```Attrition``` and ```BusinessTravel``` as bar charts. Find which value of ```BusinessTravel``` has highest number of people.

In [0]:
# Draw a cross tab of Attritiona and BusinessTravel 
# You may use crosstab of pandas for this

### Visualize the ```df``` by drawing the following plot:

* Draw a stacked bar chart between ```Attrition``` and ```Gender``` columns.

In [0]:
# Draw a stacked bar chart between Attrition and Gender

### Visualize the ```df``` by drawing the following histogram:

* Draw a histogram of ```TotalWorkingYears``` with 30 bins. 
* Draw a histogram of ```YearsAtCompany``` with 30 bins and find whether the values in ```YearsAtCompany``` are skewed.

In [0]:
# Draw a histogram of TotalWorkingYears with 30 bins


# Draw a histogram of YearsAtCompany

### Visualize the ```df``` by drawing the following boxplot:

* Draw a boxplot of ```MonthlyIncome``` for each ```Department``` and report whether there is/are outlier(s).

In [0]:
# Draw a boxplot of MonthlyIncome for each Department and report outliers

### Visualize the ```df``` by drawing the following piechart:

* Create a pie chart of the values in ```JobRole``` with suitable label and report which role has highest number of persons.

In [0]:
# Create a piechart of JobRole 
# You will need to find the counts of unique values in JobRole.